*{
    margin: 0;
    padding: 0;
    font-size: 13pt;
}
header{
    background-color: #2e6b51;
    position: sticky;
    top: 0;
}
#logo{
   width : 75px;
   vertical-align: middle;
   margin: 25px;
}

header nav {
    display:inline-block;
    vertical-align: middle;
}

header nav ul a li {
    display: inline-block;
    padding: 8px 16px;
    background: linear-gradient(#ffffff,#cdc5b3);
    color: #754406;
    border: 1px solid #754406;
    border-radius: 8px;
}

header nav ul a li:hover {
    color: #000000;
    background: linear-gradient(#cb8a02,#ffffff);
}

.ariane{ /*broadcum*/
   background: #eee; 
   padding: 10px 20px;
   font-size: 12pt;
   position: sticky;
   top: 129px;

}





#fieldGauche, #fieldDroite{
    display:inline-block;
    vertical-align: top;
}
 #col3 a img{
    width: 50px;
    height: 50px;
 }

 